.ant-pro-card-title{
    display: flex;
    align-items: "center";

}
.highlight-row{
    border-width: 2px;
    border-color: red;
}
#viewBootcampTab{
    .ant-tabs-content-holder{
        .ant-tabs-content.ant-tabs-content-top{
            height: 100%;
        }
    }
}

